* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.companyname_emphasis{
  font-size: 40px;
  font-weight: bolder;
  padding: 0px;
}

.company_logo{
  width: 90px;
  height: 90px; 
}


.header{
  width: 100vw;
  height: 100px;
}

.head_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.top_button{
  display:flex;
}

.top_button_content{
  width: 150px;
  height: 60px;
  background-color: #663300;
  padding: 10px 15px; 
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  border-radius: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.body_entire {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  background-color: #FFFFDD;
  padding-bottom: 150px;
  overflow: auto;
}



.body_flex{
  display: flex;
}

.main_part{
  width: 100vw;
}

.statement_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.top_statement{
 font-size: 50px;
}

.sub_statement{
  font-size: 30px;
  padding-bottom: 50px;
}

.statement_detail{
  display: flex;
}

.statement_explanation{
 padding: 60px;
}

.stressed_part{
  font-size: 20px;
  margin-bottom: 60px;
}

.sentences{
  margin-bottom: 30px;
  font-size: 30px;
}

.highlighted_statement{
  font-size: 40px;
  margin-bottom: 40px;
  
}

.image_custom {
 display: flex;
 align-items: center;
}

.top-image{
  width: 800px;
  height: 500px;
}

.third_statement {
  font-size: 20px;
}

.second_statement{
  font-size: 20px;
}


.top-image_sec{
  width: 500px;
  height: 300px;
  margin-top: 50px;
}

.schedule_entire{
 display: flex;
 align-items: center;
 flex-direction: column;
}


.schedule_bracket {
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.schedule_button{
  width: 100px;
  height: 30px;
  background-color: #663300;
  font-weight: bolder;
  border-radius: 100vh;
  display: flex;
  align-items: center;
}

.schedule_content{
  color: #fff;
  font-size: 20px; 
}



.footer_content {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660000	;
  bottom: 0;
  padding: 10px;
  position: fixed;
}

.footer_statements{
  font-size: 20px;
  color: #fff;
}

.btn_detail{
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  padding-top: 10px;
}

.form_entire {
  width: 700px;
  margin: 0 auto;
  padding: 80px 0;
}


.request_reference{

}

.request_detail {
 
}

.request_title{
  font-size: 20px;
}

.show-image{
  width: 100px;
  height: 80px;
}