* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.companyname_emphasis{
  font-size: 40px;
  font-weight: bolder;
  padding: 0px;
}

.company_logo{
  width: 90px;
  height: 90px; 
}


.header{
  width: 100vw;
  height: 100px;
}

.head_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.top_button{
  display:flex;
}

.top_button_content{
  width: 150px;
  height: 60px;
  background-color: #663300;
  padding: 10px 15px; 
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  border-radius: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.body_entire {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  background-color: #FFFFDD;
  padding-bottom: 150px;
  overflow: auto;
}



.body_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_part{
  width: 100vw;
}

.statement_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.top_statement{
 font-size: 50px;
}

.sub_statement{
  font-size: 30px;
  padding-bottom: 50px;
}

.statement_detail{
  display: flex;
}

.statement_explanation{
 padding: 60px;
}

.stressed_part{
  font-size: 20px;
  margin-bottom: 60px;
}

.sentences{
  margin-bottom: 30px;
  font-size: 30px;
}

.highlighted_statement{
  font-size: 40px;
  margin-bottom: 40px;
  
}

.image_custom {
 display: flex;
 align-items: center;
}

.top-image{
  width: 800px;
  height: 500px;
}

.third_statement {
  font-size: 20px;
}

.second_statement{
  font-size: 20px;
}


.top-image_sec{
  width: 500px;
  height: 300px;
  margin-top: 50px;
}

.mypage_flex{
 display: flex;
 

}

.mypage_info{
  width: 400px;
  height: 100vh;
  background-color: #CCCC99;

}

.mypage_sidetop{

}

.mypage_contents{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
}

.mypage_content{

}
.schedule_statement{
font-size: 20px;
font-weight: bolder;
margin-top: 20px
}

.schedule_entire{
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 100vw;
 height: 100vh;
 background-color: #FFFFDD;
}

.each_schedule{
  width: 600px;
  height: 400px;
  background-color: #fff;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top: 30px;

}

.schedule_bracket {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.schedule_button{
  width: 100px;
  height: 30px;
  background-color: #663300;
  font-weight: bolder;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.schedule_content{
  color: #fff;
  font-size: 20px; 
}



.footer_content {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660000	;
  bottom: 0;
  padding: 10px;
  position: fixed;
}

.footer_statements{
  font-size: 20px;
  color: #fff;
}

.btn_detail{
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.btn-content{
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.form_entire {
  width: 700px;
  margin-top: 50px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  background-color: white;
  border: 1px solid #000;
  
}

.entry_title{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.section_title{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.entry_section{
  width: 600px;
  font-size: 20px;
  padding: 10px;
}

.section_button{
  width: 200px;
  height: 80px;
  background-color: #663300;
  font-weight: bolder;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
}

.section_button_content{
  font-size: 30px; 
}

/* .input[type="submit"] {
  /* text-decoration: none; */


.show_section{
  width: 600px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #000;
}

.login_form{
  width: 350px;
  height: 200px;
  background: #fff;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_title{
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 10px;

}

.login_field{
  font-size: 12px;


}

.login_content{
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
}

.signup_form{
  margin-top: 30px;
  background-color: #fff;
  width: 450px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_form{
  width: 100vw;
  background-color: #CCCC99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.comment_text{
  width: 1000px;

}

.comment_view_entire{
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_view{
  width: 800px;
  background-color: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 20px;

}

.comment_content{
  background-color: #fff;
  width: 750px;
  font-size: 15px;

}